body {
    margin: 0; 
    background: #EEEDE1;
}

header {
    max-width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    background-color: #25387B;
    backdrop-filter: blur(10px);
    padding: 0.2rem 1%;
}

header .logo img {
    width: 19rem;
    text-decoration: none;
    color: rgb(153, 153, 153);
}

/* links in navigation bar (buttons) */
header .navbar{
    display: inline-block;
    position: fixed;
    /* to shift saare buttons upar neeche: */
    top: 1rem; 
    right: 1.5rem;
    transition: .3s;
}

header .navbar a {
    text-decoration: none;
    font-weight: 800;
    font-size: 1.10rem;
    font-family: 'Montserrat', sans-serif;
    margin-left: 1.1rem;
    /* color of buttons on navbar: */
    color: white;
    position: relative;
}

header .navbar a::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 0.2rem;
    left: 0;
    bottom: 0;
    border-radius: 1rem;
    transition: 0.4s;
}

header .navbar a:hover::after {
    width: 100%;
}

/* to change color of buttons on navbar on hovering */
header .navbar a:hover {
    color: #F5AE25;
}
.header-scroll {
    background-color: #25387B;
    opacity: 0.9;
}

.apply{
    margin-right: 0.625rem;
    background-color: #F5AE25;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    width: 8.125rem;
    height: 2.8125rem;
    margin: 0.25rem;
    border-radius: 0.75rem;
    color: #3D3B3B;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

/* change color of apply now button on hovering */
.apply:hover {
    background-color: black;
    color: white;
}

/* map ki position */
.banner{
    margin: 0rem;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.banner .map{
    flex: 1 1 20rem;
    padding-top: 5.4rem; 
    position: relative;
    text-align: center;
    color: white;
    align-items: center;
}


.contactinfo{
    width: 350px; 
    height: auto; 
    background-color: #F5AE25;
    box-shadow: 0 0.4375rem 1.25rem rgb(19, 18, 18);
    border-radius: 0.5625rem;
    align-self: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

.contactForm{
    width: 720px; 
    height: auto; 
    background-color: white;
    box-shadow: 0 0.4375rem 1.25rem rgb(19, 18, 18);
    border-radius: 0.5625rem;
}

.container {
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    /* gap between the 2 boxes - both horizontally and vertically */
    gap: 3.2rem;
    padding-top: 3rem; 
    background-color: #EEEDE1;
    flex: 1;
    align-items: center;
    padding-bottom: 2rem;
}

.container .contactinfo h2 {
    font-family: Garamond!important;
    text-align: center;
    color: black;
    font-size: 1.5rem;
    font-weight: 600;
}

.container .contactinfo span {
    font-family: Trebuchet 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif!important;
    font-size: 1.1rem;
    word-break: break-word;
    color: black;
}

.container .contactinfo .info li {
    list-style: none;
    display: flex;
    margin: 1.25rem 0;
    align-items: flex-start;
}

/* icons */
.container .contactinfo .info li span:nth-child(1) {
    width: 1.875rem;
    min-width: 1.875rem;
}

/* dunno */
.container .contactinfo .info li span:nth-child(1) svg {
    max-width: 100%;
}

/* text infront of the icons */
.container .contactinfo .info li span:nth-child(2) {
    color: black;
    margin: 0 0.625rem 0.625rem;
    font-weight: 300;
}

/* facebook, insta */
.container .contactinfo .sci {
    position: relative;
    display: flex;
    margin: auto;
    margin-bottom: 1.25rem;
    justify-content: center;
    padding-inline-start: 0;
}

.container .contactinfo .sci li {
    list-style: none;
    /* beech ka gap */
    margin-right: 1.25rem;
}

.container .contactinfo .sci li a svg {
    opacity: 0.8;
}

.container .contactinfo .sci li:hover a svg {
    opacity: 1;
}

.container .contactForm h2 {
    text-align: center;
    font-family: Garamond!important;
    color: #272727;
    font-size: 2rem;
    font-weight: 600;
}


.container .contactForm .formBox {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 0.9375rem;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 4%;
}

.container .contactForm .formBox input {
    width: 100%;
    padding: 0.9375rem;
    margin-bottom: 1.0625rem;
    outline: none;
    border: 1px solid rgb(14, 2, 2);
    box-sizing: border-box;
    font-size: 0.9375rem;
    font-weight: 300;
    font-family: 'Poppins', sans-serif !important;
}

.container .contactForm .formBox textarea {
    width: 100%;
    padding: 0.9375rem;
    margin-bottom: 1.0625rem;
    outline: none;
    border: 0.0625rem solid rgb(14, 2, 2);
    box-sizing: border-box;
    height: 5rem;
    font-size: 0.9375rem;
    font-weight: 300;
    font-family: 'Poppins', sans-serif !important;
}

.container .contactForm .formBox button {
    font-size: 1rem;
    width: 8.125rem;
    height: 2.8125rem;
    border-radius: 0.75rem;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    color: #3D3B3B;
    border: none;
    background-color: #F5AE25;
    margin: auto;
    float: right;
}

.container .contactForm .formBox button:hover {
    background-color: black;
    color: white;
}

@media (max-width: 1112px) {
    .container {
        display: flex;
        flex-direction: column-reverse;
    }

    .container .contactForm {
        width: 90%;
    }

    .container .contactinfo {
        width: 90%;
    }
}

.footer {
    margin-top: 50px;
    background-color: #25387B;
    opacity: 0.95;
    /* padding: 20px 0 0 0; */
    display: flex;
    flex-direction: row;
}

.footer .ContactUs h2{
    font-size: 2.5vw;
    color: white;
}

.footer .ContactUs ul{
    color: white;
    list-style: none;
    padding-inline-start: 0;
}

.footer .ContactUs ul li{
    margin-bottom: 1vw;
}

.footer .ContactUs{
    /* padding-top: 0.5vw; */
    padding-bottom: 0.5vw;
    margin-left: 3vw;
    width: 30%;
    /* padding-inline-start: 0; */
}

.footer .socials a {
    display: inline-flex;
    /* height: 5vw; */
    width: 3vw;
    /* background-color: black; */
    margin: 8px 0px 0px 0px;
    /* text-align: center; */
    /* align-items: center; */
    /* border-radius: 20%; */
    color: white;
    transition: all 0.3 ease;
    /* justify-content: space-around; */
    opacity: 0.9;
}

.footer .socials svg:hover {
    /* background-color: #F5AE25; */
    color: #F5AE25;
    opacity: 0.9;
}

.footer .address1 {
    display: flex;
    font-size: 1.5vw;
    color: white;
    text-decoration: none;
    align-items: center;
    text-align: center;
}

.footer .address1 svg {
    margin-right: 10px;
    color: white;
}

.footer .Links{
    /* text-align: center; */
    /* margin-left: vw; */
    padding-top: 0.5vw;
    width: 20%;
}

.footer .Links ul{
    list-style: none;
}

.footer .Links ul li{
    margin-bottom: 0.65vw;
}

.footer .Links ul a{
    font-size: 1.5vw;
    text-decoration: none;
    color: white;
}

.footer .Links ul a:hover {
    color: #F5AE25;
}

.footer .Map{
    margin-top: 0;
    margin-bottom: 0;
    align-items: center;
    width: 50%;
    padding-top: 1.5vw;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    padding-bottom: 1.5vw;
}

.footer .Map iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 80%; */
}

.yellowBar{
    opacity: 0.95;
    height: 2vw;
    background-color: #F5AE25;
}

.yellowBar p{
    font-size: 1.2vw;
    padding-right: 0.5vw;
    float: right;
    margin: 0;
    line-height: 2vw;
}




