body {
    margin: 0; 
    background: #374C99;
}

header {
    max-width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    background-color: #25387B;
    backdrop-filter: blur(10px);
    padding: 0.2rem 1%;
}

header .logo img {
    width: 19rem;
    text-decoration: none;
    color: rgb(153, 153, 153);
}

/* links in navigation bar (buttons) */
header .navbar{
    display: inline-block;
    position: fixed;
    /* to shift saare buttons upar neeche: */
    top: 1rem; 
    right: 1.5rem;
    transition: .3s;
}

header .navbar a {
    text-decoration: none;
    font-weight: 800;
    font-size: 1.10rem;
    font-family: 'Montserrat', sans-serif;
    margin-left: 1.1rem;
    /* color of buttons on navbar: */
    color: white;
    position: relative;
}

header .navbar a::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 0.2rem;
    left: 0;
    bottom: 0;
    border-radius: 1rem;
    transition: 0.4s;
}

header .navbar a:hover::after {
    width: 100%;
}

/* to change color of buttons on navbar on hovering */
header .navbar a:hover {
    color: #FEC727;
}
.header-scroll {
    background-color: #25387B;
    opacity: 0.9;
}

.apply{
    margin-right: 0.625rem;
    background-color: #FEC727;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    width: 8.125rem;
    height: 2.8125rem;
    margin: 0.25rem;
    border-radius: 0.75rem;
    color: #3D3B3B;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

/* change color of apply now button on hovering */
.apply:hover {
    background-color: black;
    color: white;
}

/* #menu-bar {
    font-size: 3rem;
    cursor: pointer;
    color: #666;
    border: .1rem solid #666;
    border-radius: .3rem;
    padding: .5rem 1.5rem;
    display: none;
} */

/* map ki position */
.banner{
    margin: 0rem;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.banner .map{
    flex: 1 1 20rem;
    padding-top: 5.4rem; 
    position: relative;
    text-align: center;
    color: white;
    align-items: center;
}

.map {
    filter: invert(95%) sepia(50%) hue-rotate(180deg) contrast(100%);
}

section {
    background-image: linear-gradient(180deg, #020719, #25387B);
    padding-top: 0; 
    margin-top: -0.3rem; /* Adjust margin to remove extra space from the banner */
    position: relative;
    justify-content: center;
    align-items: center;
}

section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
}

.container {
    padding-top: 3rem; 
    position: relative;
    display: flex;
    min-width: 68.75rem;
    min-height: 34.375rem;
    z-index: 0;
    background-image: linear-gradient(180deg, #020719, #25387B);
}

.container .contactinfo {
    position: relative;
    top: 2rem;
    width: 20rem;
    height: 83%;
    background: #D8AE32;
    z-index: 100;
    padding: 2.5rem;
    padding-top: 1rem;
    padding-bottom:1rem;
    padding-left:1rem;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0.9375rem 1.25rem rgb(19, 18, 18);
    border-radius: 0.5625rem;
    align-items: center;
}

.container .contactinfo h2 {
    font-family: Garamond!important;
    text-align: center;
    color: black;
    font-size: 1.5rem;
    font-weight: 600;
    padding-bottom: 1.25rem;
}

.container .contactinfo span {
    font-family: Trebuchet 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif!important;
    font-size: 1.1rem;
    word-break: break-word;
    color: black;
}

.container .contactinfo .info {
    position: relative;
    margin: 1.25rem 0;
}

.container .contactinfo .info li {
    position: relative;
    list-style: none;
    display: flex;
    margin: 1.25rem 0;
    align-items: flex-start;
}

.container .contactinfo .info li span:nth-child(1) {
    width: 1.875rem;
    min-width: 1.875rem;
}

.container .contactinfo .info li span:nth-child(1) svg {
    max-width: 100%;
}

.container .contactinfo .info li span:nth-child(2) {
    color: black;
    margin: 0 0.625rem 0.625rem;
    font-weight: 300;
}

.container .contactinfo .sci {
    position: relative;
    display: flex;
    margin: auto;
    margin-bottom: 1.25rem;
}

.container .contactinfo .sci li {
    list-style: none;
    margin-right: 1.25rem;
}

.container .contactinfo .sci li a {
    text-decoration: none;
}

.container .contactinfo .sci li a svg {
    opacity: 0.5;
}

.container .contactinfo .sci li:hover a svg {
    opacity: 1;
}

.container .contactForm {
    position: absolute;
    padding: 1.5625rem 3.125rem;
    background: #fff;
    margin-left: 28.125rem;
    margin-right: 2rem;
    padding-left: 4rem;
    /* width: calc(100%-150px); */
    /* height: 50%; */
    box-shadow: 0 0.9375rem 1.25rem rgb(19, 18, 18);
    border-radius: 0.5625rem;
}

.container .contactForm h2 {
    text-align: center;
    font-family: Garamond!important;
    color: #272727;
    font-size: 2rem;
    font-weight: 600;
}


.container .contactForm .formBox {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 0.9375rem;
}

.container .contactForm .formBox input {
    width: 100%;
    padding: 0.9375rem;
    margin-bottom: 1.0625rem;
    outline: none;
    border: 1px solid rgb(14, 2, 2);
    box-sizing: border-box;
    font-size: 0.9375rem;
    font-weight: 300;
    font-family: 'Poppins', sans-serif !important;
}

.container .contactForm .formBox textarea {
    width: 100%;
    padding: 0.9375rem;
    margin-bottom: 1.0625rem;
    outline: none;
    border: 0.0625rem solid rgb(14, 2, 2);
    box-sizing: border-box;
    height: 5rem;
    font-size: 0.9375rem;
    font-weight: 300;
    font-family: 'Poppins', sans-serif !important;
}

.container .contactForm .formBox button {
    justify-content: center;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    position: relative;
    font-size: 1rem;
    width: 8.125rem;
    height: 2.8125rem;
    border-radius: 0.75rem;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    color: #3D3B3B;
    border: none;
    max-width: 9.375rem;
    padding: 0.75rem;
    background-color: #FEC727;
    margin: auto;
}

.container .contactForm .formBox button:hover {
    background-color: black;
    color: white;
}

@media (max-width: 61.9375rem) {
    /* 61.9375rem */

    .container {
        display: flex;
        flex-direction: column-reverse;
    }

    .container .contactForm {
        align-self: center;
        width: 50%;
        height: auto;
        top: 2rem;
        bottom: 2rem;
        left: 2rem;
        right:2rem;
    }

    .container .contactinfo {
        align-self: center;
        width: 50%;
        height: auto;
        width: 100%;
        height: auto;
        top: 2rem;
        bottom: 2rem;
        left: 2rem;
        right:2rem;
    }
}

/* @media (max-width: 37.5rem) {
    section {
        padding: 1.875rem;
    }

    .container.contactForm {
        padding: 1.5625rem;
    }

    .container.contactinfo {
        padding: 1.5625rem;
        flex-direction: column;
        align-items: flex-start;
    }

    .container .contactinfo ul.sci {
        margin-top: 2.5rem;
    }
} */


/* @media (max-width: 75rem) {
    .container {
        width: 90%;
        min-width: auto;
        margin: 1.25rem;
        box-shadow: 0 1.25rem 3.125rem rgba(0, 0, 0, 0.2);
    }

    .container .contactinfo {
        top: 0;
        height: 34.375rem;
        position: relative;
        box-shadow: none;
        margin-top: 1.25rem;
    }

    .container .contactForm {
        position: relative;
        width: calc(100% - 21.875rem);
        padding-left: 0;
        margin-left: 0;
        padding: 2.5rem;
        height: 34.375rem;
        box-shadow: none;
    }
}*/

/* @media (max-width: 61.9375rem) {
    .container {
        display: flex;
        flex-direction: column-reverse;
    }
} */


/* @media (max-width: 61.9375rem) { */
    /* Adjust the layout for smaller screens like phones */
    /* section::before {
        display: none;
        margin-top: -0.3rem;
    }

    .container {
        display: flex; */
        /* flex-direction: column-reverse; Reverse the order to have Apply Now on top */
    /* }

    .banner{
        padding-top: 5.4rem;
    }

    .container .contactinfo { */
        /* width: 100%; Make the form full width
        height: auto; Let it take up as much height as needed
    }

    .container .contactForm { */
        /* width: 100%; Make the form full width */
        /* height: auto; Let it take up as much height as needed */
    /* } */
/* } */
/* @media (max-width: 61.9375rem) {
    /* 61.9375rem */
    /* section::before { */
        /* display: none;
    }

    .container {
        display: flex;
        flex-direction: column-reverse;
    }

    .container .contactForm {
        width: 100%;
        height: auto;
    }

    .container .contactinfo {
        width: 100%;
        height: auto;
    }
} */ 

/* @media (max-width: 37.5rem) {
    section {
        padding: 1.875rem;
    }

    .container.contactForm {
        padding: 1.5625rem;
    }

    .container.contactinfo {
        padding: 1.5625rem;
        flex-direction: column;
        align-items: flex-start;
    }

    .container .contactinfo ul.sci {
        margin-top: 2.5rem;
    }
} */

