body {
    margin: 0; 
    background: #EEEDE1;
} 


/* map ki position */
.banner{
    margin: 0rem;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.banner .map{
    flex: 1 1 20rem;
    padding-top: 5.4rem; 
    position: relative;
    text-align: center;
    color: white;
    align-items: center;
}


.contactinfo{
    width: 350px; 
    height: auto; 
    background-color: #F5AE25;
    box-shadow: 0 0.4375rem 1.25rem rgb(19, 18, 18);
    border-radius: 0.5625rem;
    align-self: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

.contactForm{
    width: 720px; 
    height: auto; 
    background-color: white;
    box-shadow: 0 0.4375rem 1.25rem rgb(19, 18, 18);
    border-radius: 0.5625rem;
}

.container {
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    /* gap between the 2 boxes - both horizontally and vertically */
    gap: 3.2rem;
    padding-top: 3rem; 
    background-color: #EEEDE1;
    flex: 1;
    align-items: center;
    padding-bottom: 2rem;
}

.container .contactinfo h2 {
    font-family: Garamond!important;
    text-align: center;
    color: black;
    font-size: 1.5rem;
    font-weight: 600;
}

.container .contactinfo span {
    font-family: Trebuchet 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif!important;
    font-size: 1.1rem;
    word-break: break-word;
    color: black;
}

.container .contactinfo .info li {
    list-style: none;
    display: flex;
    margin: 1.25rem 0;
    align-items: flex-start;
}

/* icons */
.container .contactinfo .info li span:nth-child(1) {
    width: 1.875rem;
    min-width: 1.875rem;
}

/* dunno */
.container .contactinfo .info li span:nth-child(1) svg {
    max-width: 100%;
}

/* text infront of the icons */
.container .contactinfo .info li span:nth-child(2) {
    color: black;
    margin: 0 0.625rem 0.625rem;
    font-weight: 300;
}

/* facebook, insta */
.container .contactinfo .sci {
    position: relative;
    display: flex;
    margin: auto;
    margin-bottom: 1.25rem;
    justify-content: center;
    padding-inline-start: 0;
}

.container .contactinfo .sci li {
    list-style: none;
    /* beech ka gap */
    margin-right: 1.25rem;
}

.container .contactinfo .sci li a svg {
    opacity: 0.8;
}

.container .contactinfo .sci li:hover a svg {
    opacity: 1;
}

.container .contactForm h2 {
    text-align: center;
    font-family: Garamond!important;
    color: #272727;
    font-size: 2rem;
    font-weight: 600;
}


.container .contactForm .formBox {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 0.9375rem;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 4%;
}

.container .contactForm .formBox input {
    width: 100%;
    padding: 0.9375rem;
    margin-bottom: 1.0625rem;
    outline: none;
    border: 1px solid rgb(14, 2, 2);
    box-sizing: border-box;
    font-size: 0.9375rem;
    font-weight: 300;
    font-family: 'Poppins', sans-serif !important;
}

.container .contactForm .formBox textarea {
    width: 100%;
    padding: 0.9375rem;
    margin-bottom: 1.0625rem;
    outline: none;
    border: 0.0625rem solid rgb(14, 2, 2);
    box-sizing: border-box;
    height: 5rem;
    font-size: 0.9375rem;
    font-weight: 300;
    font-family: 'Poppins', sans-serif !important;
}

.container .contactForm .formBox button {
    font-size: 1rem;
    width: 8.125rem;
    height: 2.8125rem;
    border-radius: 0.75rem;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    color: #3D3B3B;
    border: none;
    background-color: #F5AE25;
    margin: auto;
    float: right;
}

.container .contactForm .formBox button:hover {
    background-color: black;
    color: white;
}

@media (max-width: 1112px) {
    .container {
        display: flex;
        flex-direction: column-reverse;
    }

    .container .contactForm {
        width: 90%;
    }

    .container .contactinfo {
        width: 90%;
    }
}




