body {
    margin: 0;
    background: black;
}

.home {
    margin-top: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
}

.home .image {
    flex: 1 1 20rem;
    position: relative;
    text-align: center;
    color: white;
    align-items: center;
}

.home .image img {
    width: 100%;
    align-items: center;
}

.welcome {
  margin-top: -2.9rem; 
}

.welcome p{
  color:black;
  font-size: 1.723vw;
  padding-top: 5px;
  padding-left: 150px;
  padding-right: 150px;
  text-align: center;
  font-family: 'Arial', sans-serif;
  /* font-family: Tahoma, Verdana, 'Trebuchet MS', 'Times New Roman', Arial, Helvetica; */
  /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

.headingg{
  color:#25387B;
  font-size: 3.3vw;
  padding-top: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
  font-family: 'Arial', sans-serif;
  /* font-family: Tahoma, Verdana, 'Trebuchet MS', 'Times New Roman', Arial, Helvetica; */
  /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}


.welcome .part1 {
  background-color: #F6F6EE;
  align-items: center;
  text-align: center;
}

.welcome .knowMore{
  justify-content: center;
  margin-bottom: 1.5rem;
  background-color: #F5AE25;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.378vw;
  width: 11.2vw;
  height: 3.876vw;
  border-radius: 1.033vw;
  color: #3D3B3B;
  cursor: pointer;
  font-weight: 600;
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Arial', sans-serif;
}

/* change color of apply now button on hovering */
.knowMore:hover {
background-color: black;
color: white;
}

.articles .part2 {
  background-color: #E4E4E6;
  align-items: center;
  text-align: center;
  padding-bottom: 0.5rem;
}

/* our mentors heading */
.articles h1 {
    padding-top: 2rem;  /* to shift headin upar neeche */
    /* to shift entire section upar neeche: */
    margin: 0;
    margin-bottom: 10px;
    /* font-family: Tahoma, Verdana, 'Trebuchet MS', 'Times New Roman', Arial, Helvetica; */
    font-family: 'Arial', sans-serif;
    font-size: 3.3vw;
    font-weight: bold;
    text-align: center;
    color: #25387B;
}

/* text below our mentors heading */
.articles p {
    margin-top: 1rem;
    font-family: 'Arial', sans-serif;
    /* font-family: Tahoma, Verdana, 'Trebuchet MS', 'Times New Roman', Arial, Helvetica; */
    /* font-family: 'Merriweather', sans-serif; */
    font-size: 1.723vw;
    text-align: center;
    color: black;
}

/* dono boxes ki individual orientation */
.articles-container {
    margin-top: 50px;
    margin-bottom: 2.3rem;
    margin-right:2rem;
    margin-left:2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

/* dono boxes ki saath ki orientation */
.article_card {
    flex: 1 1 30rem;
    position: relative;
    width: 1000px;
    height: 300px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    transition: 0.5s;
}

/* images of mentors */
.article_card .artimg {
    width: 55%;
    height: 100%;
}

.article_card .content {
    position: absolute;
    width: calc(45% - 20px); 
    left: 0;
    padding: 0 25px; /* Added padding */
    transition: 0.5s;
    opacity: 1;
    visibility: hidden;
    top: 0;
}

/* name of mentors on hovering on image */
.article_card .content h2 {
    text-align: left;
    color: #25387B;
    margin-bottom: 0;
    /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    /* font-family: Tahoma, Verdana, 'Trebuchet MS', 'Times New Roman', Arial, Helvetica; */
    font-family: 'Arial', sans-serif;
}

/* desgination of mentors */
.article_card .content h3 {
    text-align: left;
    color: white;
    margin-top: 0; 
    /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    /* font-family: Tahoma, Verdana, 'Trebuchet MS', 'Times New Roman', Arial, Helvetica; */
    font-family: 'Arial', sans-serif;
}

/* design of message from mentors on hovering */
.article_card .content p {
    color: black;
    text-align: left;
    padding-right: 30px;
    font-size: 20px; 
    /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    /* font-family: Tahoma, Verdana, 'Trebuchet MS', 'Times New Roman', Arial, Helvetica; */
    font-family: 'Arial', sans-serif;
}

/* orientation and visiblity oof msg from mentors on hovering */
.article_card:hover .content {
    left: 0%;
    opacity: 1;
    visibility: visible;
}

/* size and orientation of box and its borders on hovering on image */
.article_card .circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
}

.article_card .circle::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* backdrop-filter: contrast(0.1); */
    clip-path: circle(100px at center);
    transition: 0.5s;
}

.article_card:hover .circle::before {
    background-color:#F5AE25;
    opacity: 0.7;
    /* backdrop-filter: contrast(0.1); */
    clip-path: circle(400px at center);
}


.article_card img {
    position: absolute;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 300px;
    pointer-events: none;
    transition: 0.5s;
}

.article_card:hover img {
    border-radius: 0;
    border: none;
    box-shadow: none;
    left: 70%;
}

.testimonials {
  /* display: flex; */
  justify-content: center;
  margin-top: -1.24rem;
}

.testimonials .part3 {
  display:flex;
  align-items: stretch;
  background-color: #FCFBFB;
  text-align: center;
  position: relative;
}


/* text- "testimonials of parents" */
.testimonials h1 {
  position: absolute;
  margin: 20px;
  bottom: 0;
  /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  /* font-family: Tahoma, Verdana, 'Trebuchet MS', 'Times New Roman', Arial, Helvetica; */
  font-family: 'Arial', sans-serif;
  font-size: 3.5vw;
  font-weight: bold;
  text-align: left;
  color: #25387B;
}

.container{
  position: relative;
  width: 70%;
  height: auto;
  float:right;
  text-align: center;
  padding-bottom: 2rem;
}

/* dabba - testimonials */
.leftHead {
  flex-grow: 1;
  position: relative;
  margin: 0 auto;
  width: 30%;
  height: auto;
  float:left;
  background: #F5AE25;
  padding-bottom: 2rem;
}

.slideshow-container {
  font-size: 1.5rem;
}

/* Slides */
.mySlides {
  display: none;
  padding: 2.5rem;
  margin-left:3rem;
  margin-right: 3rem;
  text-align: center;
}

.mySlides:first-child{
  display: block;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.prev {
  position: absolute;
  left: 0;
  border-radius: 3px 0 0 3px;
}

.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #25387B;
  color: white;
}


/* The dots/bullets/indicators */
.dot.active {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  box-shadow: 0 0 0 2px #25387B, 0 0 18px #25387B;
}

.author {color: black;}
