body {
    margin: 0;
    background: black;
}

header {
    max-width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    background-color: #25387B;
    backdrop-filter: blur(10px);
    padding: 0.2rem 1%;
}

header .logo img {
    width: 300px;
    text-decoration: none;
    color: rgb(153, 153, 153);
}

/* links in navigation bar (buttons) */
header .navbar{
    display: inline-block;
    position: fixed;
    /* to shift saare buttons upar neeche: */
    top: 1rem; 
    right: 1.5rem;
    transition: .3s;
}

header .navbar a {
    text-decoration: none;
    font-weight: 800;
    font-size: 1.10rem;
    font-family: 'Montserrat', sans-serif;
    margin-left: 1.1rem;
    /* color of buttons on navbar: */
    color: white;
    position: relative;
}

header .navbar a::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 0.2rem;
    left: 0;
    bottom: 0;
    border-radius: 1rem;
    /* background: #EB8A18; */
    transition: 0.4s;
}

header .navbar a:hover::after {
    width: 100%;
}

/* to change color of buttons on navbar on hovering */
header .navbar a:hover {
    color: #FEC727;
}
.header-scroll {
    background-color: #25387B;
    opacity: 0.9;
}

.apply{
    margin-right: 10px;
    background-color: #FEC727;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 130px;
    height: 45px;
    margin: 4px;
    border-radius: 12px;
    color: #3D3B3B;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

/* change color of apply now button on hovering */
.apply:hover {
    background-color: black;
    color: white;
}

.home {
    margin-top: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    /* min-height: 80vh; */
    align-items: center;
}

.home .image {
    flex: 1 1 20rem;
    /* padding-top: 7rem; */
    position: relative;
    text-align: center;
    color: white;
    align-items: center;
}

.home .image img {
    width: 100%;
    align-items: center;
}

.welcome {
  margin-top: -2.9rem; /* Adjust this value as needed */
}

.welcome p{
  color:black;
  font-size: 20px;
  padding-top: 5px;
  padding-left: 150px;
  padding-right: 150px;
  text-align: center;
  font-family: Tahoma, Verdana, 'Trebuchet MS', 'Times New Roman', Arial, Helvetica;
  /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

.headingg{
  color:#25387B;
  font-size: 45px;
  padding-top: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
  font-family: Tahoma, Verdana, 'Trebuchet MS', 'Times New Roman', Arial, Helvetica;
  /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}


.welcome .part1 {
  background-color: #FFF3D2;
  align-items: center;
  text-align: center;
  /* position: relative; */
}

.welcome .knowMore{
  justify-content: center;
  margin-bottom: 1.5rem;
  background-color: #FEC727;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 130px;
  height: 45px;
  border-radius: 12px;
  color: #3D3B3B;
  cursor: pointer;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}

/* change color of apply now button on hovering */
.knowMore:hover {
background-color: black;
color: white;
}

/*  latest articles */
/* .articles {
    padding: 1rem;
} */

.articles .part2 {
  background-color: #474545;
  align-items: center;
  text-align: center;
  padding-bottom: 0.5rem;
  /* position: relative; */
}

/* our mentors heading */
.articles h1 {
    padding-top: 2rem;  /* to shift headin upar neeche */
    /* to shift entire section upar neeche: */
    margin: 0;
    margin-bottom: 10px;
    font-family: Tahoma, Verdana, 'Trebuchet MS', 'Times New Roman', Arial, Helvetica;
    /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-size: 2.7rem;
    font-weight: bold;
    text-align: center;
    color: #FEC727;
    text-shadow: 2px 4px 4px rgba(20, 17, 59, 0.25);
}

/* text below our mentors heading */
.articles p {
    margin-top: 1rem;
    font-family: Tahoma, Verdana, 'Trebuchet MS', 'Times New Roman', Arial, Helvetica;
    /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    /* font-family: 'Merriweather', sans-serif; */
    /* font-weight: 500; */
    font-size: 1.5rem;
    text-align: center;
    color: white;
}

/* dono boxes ki individual orientation */
.articles-container {
    margin-top: 50px;
    margin-bottom: 2.3rem;
    margin-right:2rem;
    margin-left:2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

/* dono boxes ki saath ki orientation */
.article_card {
    flex: 1 1 30rem;
    position: relative;
    width: 1000px;
    height: 300px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    transition: 0.5s;
}

/* images of mentors */
.article_card .artimg {
    width: 55%;
    height: 100%;
}

.article_card .content {
    position: absolute;
    width: calc(45% - 20px); 
    left: 0;
    padding: 0 25px; /* Added padding */
    transition: 0.5s;
    opacity: 1;
    visibility: hidden;
    top: 0;
}

/* name of mentors on hovering on image */
.article_card .content h2 {
    text-align: left;
    color: #FEC727;
    margin-bottom: 0;
    /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: Tahoma, Verdana, 'Trebuchet MS', 'Times New Roman', Arial, Helvetica;
}

/* desgination of mentors */
.article_card .content h3 {
    text-align: left;
    color: #D8AE32;
    margin-top: 0; 
    /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: Tahoma, Verdana, 'Trebuchet MS', 'Times New Roman', Arial, Helvetica;
}

/* design of message from mentors on hovering */
.article_card .content p {
    color: white;
    text-align: left;
    padding-right: 30px;
    font-size: 20px; 
    /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: Tahoma, Verdana, 'Trebuchet MS', 'Times New Roman', Arial, Helvetica;
}

/* orientation and visiblity oof msg from mentors on hovering */
.article_card:hover .content {
    left: 0%;
    opacity: 1;
    visibility: visible;
}

/* size and orientation of box and its borders on hovering on image */
.article_card .circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
}

.article_card .circle::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: contrast(0.5);
    clip-path: circle(100px at center);
    transition: 0.5s;
}

.article_card:hover .circle::before {
    backdrop-filter: contrast(0.5);
    clip-path: circle(400px at center);
}


.article_card img {
    position: absolute;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 300px;
    pointer-events: none;
    transition: 0.5s;
}

.article_card:hover img {
    border-radius: 0;
    border: none;
    box-shadow: none;
    left: 70%;
}

.testimonials {
  /* display: flex; */
  justify-content: center;
  margin-top: -1.24rem;
}

.testimonials .part3 {
  display:flex;
  align-items: stretch;
  background-color: #EFEEEE;
  /* align-items: center; */
  text-align: center;
  position: relative;
}

/* .testimonials h1 {
    padding-top: 25px;
    margin: 20px;
    margin-bottom: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.7rem;
    font-weight: bold;
    text-align: center;
    color: #25387B;
} */

/* text- "testimonials of parents" */
.testimonials h1 {
  /* display: flex; */
  position: absolute;
  margin: 20px;
  bottom: 0;
  /* margin-top:50px; */
  /* margin-bottom: 10px; */
  /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  font-family: Tahoma, Verdana, 'Trebuchet MS', 'Times New Roman', Arial, Helvetica;
  font-size: 280%;
  font-weight: bold;
  text-align: left;
  color: #25387B;
}

.container{
  position: relative;
  /* background: #D8AE32; */
  width: 70%;
  height: auto;
  float:right;
  text-align: center;
}

/* dabba - testimonials */
.leftHead {
  flex-grow: 1;
  position: relative;
  margin: 0 auto;
  width: 30%;
  height: auto;
  float:left;
  background: #D8AE32;
}

.slideshow-container {
  font-size: 1.5rem;
}

/* The dot/bullet/indicator container */
/* .dot-container {
  position: relative;
  background: #FFF3D2;
  text-align: center;
  width: 70%;
  height: auto;
  float:right;
} */

/* Slides */
.mySlides {
  display: none;
  padding: 2.5rem;
  margin-left:3rem;
  margin-right: 3rem;
  text-align: center;
}

.mySlides:first-child{
  display: block;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */

.prev {
  position: absolute;
  left: 0;
  border-radius: 3px 0 0 3px;
}

.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #25387B;
  color: white;
}


/* The dots/bullets/indicators */
.dot.active {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  box-shadow: 0 0 0 2px #25387B, 0 0 18px #25387B;
}

.author {color: black;}
